/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

section{
    padding:80px 10%;
}

h1{
    font-size:55px;
    line-height:1.2;
}

h2{
    font-size:40px;
    margin-bottom:40px;
    text-align:center;
}

p{
    color:#d1d5db;
    line-height:1.8;
}

.btn{

    display:inline-block;
    margin-top:30px;
    padding:15px 35px;

    background:#2563eb;
    color:white;

    border-radius:10px;

    transition:.3s;

    font-weight:600;

}

.btn:hover{

    background:#1d4ed8;
    transform:translateY(-4px);

}